.game-image {
    position: absolute;
    border-radius: 10px;
    border: 2px solid black;
    transition: transform 0.3s ease;
}

.game-image:hover {
    transform: scale(1.05);
}

.ballena {
    height: 200px;
    position: absolute;
    top: 20%;
    left: 30%;
    border-radius: 10px;
}

.cangrejo {
    height: 150px;
    position: absolute;
    top: 10%;
    left: 50%;
    border-radius: 10px;
}

.medusa{
    height: 150px;
    position: absolute;
    top: 30%;
    left: 20%;
    border-radius: 10px;
}

.pescado{
    height: 150px;
    position: absolute;
    top: 50%;
    left: 10%;
    border-radius: 10px;
}

.perro{
    height: 150px;
    position: absolute;
    top: 20%;
    left: 40%;
    border-radius: 10px;
}
